body {
  font-family: 'Inter', sans-serif;
  background-color: #121212; 
  color: #E5E7EB; 
}

a {
  color: #F97316; 
  transition: color 0.3s ease;
}

a:hover {
  color: #FDBA74; 
}

button, .btn-primary {
  background-color: #F97316; 
  color: #FFFFFF;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, .btn-primary:hover {
  background-color: #EA580C; 
}

.navbar {
  background-color: #1F1F1F; 
  color: #FFFFFF;
}

.orange-gradient_text {
  background: linear-gradient(to right, #f97316, #facc15); /* laranja para amarelo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.section-dark {
  background: linear-gradient(to bottom right, #1F1F1F, #2C2C2C);
}

.skill-badge {
  background: linear-gradient(to top right, #F97316, #F87171);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.skill-badge:hover {
  transform: scale(1.05);
}

.block-container {
  width: 5rem;
  height: 5rem;
  perspective: 1000px;
  position: relative;
  margin: 1rem;
}

.btn-front, .btn-back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.75rem;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-text {
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 1rem;
  color: white;
}

a.btn-cta {
  color: white;
}

a.btn-cta:hover {
  color: white; 
}

.btn-cta {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #f97316;
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  backface-visibility: hidden;
}

.btn-cta:hover {
  background-color: #ea580c; 
}
